<html lang="en">
<head>
    <title>大全</title>
</head>
<body>
        <h2 style="margin-left: 2em;">{{ row.area }} - {{ row.time }} - {{ row.title }}</h2>
        <p style="margin-left: 4em; width: 600px;white-space:normal; word-break:break-all;">
            时间: {{ row.time }}
        </p>
        <p style="margin-left: 4em; width: 600px;white-space:normal; word-break:break-all;">
            地区: {{ row.area }}
        </p>
        {% for line in row.txt_line %}
            <p style="margin-left: 4em; width: 600px;white-space:normal; word-break:break-all;">
                {{ line }}
            </p>
        {% endfor %}
        {% for img in row.img_local %}
            <p style="margin-left: 4em;">
                <img src="{{ img }}" width="600"/>
            </p>
        {% endfor %}
</body>
</html>